daemon:
    pidfile: /tmp/mqtt2sense.pid
    stderr: /tmp/mqtt2sense.err
    stdout: /tmp/mqtt2sense.log
    debug: True

mqtt:
    client_id: mqtt2sense
    host: localhost
    port: 1883
    keepalive: 60
    clean_session: True
    qos: 0
    status_topic: /service/mqtt2sense/status

sense:
    api_key: AABBCC
    timeout: 10

topics:
    /home/general/power: 98259/test

