daemon:
    pidfile: /tmp/mqtt2xively.pid
    stderr: /tmp/mqtt2xively.err
    stdout: /tmp/mqtt2xively.log
    debug: True

mqtt:
    client_id: mqtt2xively
    host: localhost
    port: 1883
    keepalive: 60
    clean_session: True
    qos: 0
    status_topic: /service/mqtt2xively/status

xively:
    api_key: AABBCC
    timeout: 10

topics:
    /home/general/power: 98259/test

